<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initialscale=1.0">

    <link rel="stylesheet" href="/style/stylesheet.css">
    <script src="/bootstrapScript/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/bootstrapStyle/bootstrap.min.css">






    <title>Sistema Turma</title>
</head>

<body>
    {{>_navbar}}

    {{#if car}}
    {{>carousel}}
    {{else}}
    {{/if}}

    <div class="container mt-4">
        {{{body}}}
    </div>

    {{>_footer}}
</body>

</html>